/* You can add global styles to this file, and also import other style files */

@import "./styles/spacings";
@import "./styles/align";
@import "./styles/font";
@import "./styles/misc";
@import "./styles/flex-box";

body { margin: 0; }

body { margin: 0; }

body { margin: 0; }

body { margin: 0; }

.hidden {
    display: none;
}
